<div class="col-6 m-4">
   <h1>All restaurants</h1>
      <% @restaurants.each do |restaurant|  %>
         <ul div class= " col-6 border border-light>
          <li class="pt-4">  <%= link_to restaurant.name, restaurant_path(restaurant)  %> </li>
          <li class="pt-1"> <%= restaurant.address %> </li>
          <li class="pt-1"><%= restaurant.category %></li>
          </ul>
          <% end %>
</div>
